body {
  color:black;
  font-family: 'Source Code Pro', monospace;
  /* margin: 5px */
  /* background-color: cornsilk; */
  
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* height: 60%; */
  border: 2px solid cornsilk;
  /* border-radius: 10px; */
  /* margin: 10px; */
  padding: 100px 15px 100px 15px;
  /* margin: 5px; */
  width: 85vw;
  height: 80vh;
}
.container h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 40px;
  margin: 5px;
  text-align:center;
}
.container h2 {
  margin: 5px;
  text-align: center;
  font-weight: 350;
  font-style: italic;
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
}
.container p {
  margin: 15px ;
  text-align: center;
  font-weight: 350;
  font-size: 1rem;
  font-family: 'Source Code Pro', monospace;
}
.container p {
  margin: 15px ;
  text-align: center;
  font-weight: 350;
  font-size: 1rem;
  font-family: 'Source Code Pro', monospace;
}
#projects {
  background-color: cornsilk;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px ;
  height: 50vh;
}

#project-header {
  background-color: cornsilk;
}
/* .project-div {
  border: 2px solid black;
} */

.nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px, 5px, 20px, 5px
}
.nav button {
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  font-size: 1.2rem;
  font-family: 'Source Code Pro', monospace;
  font-weight: 150;
  background-color: white;
  color: black;
}
.nav button:hover {
  background-color: rgba(197, 156, 236, 0.801);
}

/* Medium screens */
@media all and (max-width: 800px) {
  .nav button {
    font-size: 1rem;
  }
} 

/* Small screens */ 
 @media all and (max-width: 500px) {
  .container p {
    font-weight: 350;
    font-size: 0.8rem;
  }
}
